<section class="w-full flex justify-start flex-nowrap overflow-x-auto items-center space-x-4">
  <% 12.times do |index| %>
    <div class="flex-shrink-0 story-avatar p-0.5 w-[60px] h-[60px] flex items-center justify-center">    
      <img src="https://i.pravatar.cc/100?img=<%= index * 3 %>" alt="Profile Picture" class="border-[3px] border-white rounded-full w-full h-full object-center">
    </div>
  <% end %>
</section>