<div class="w-full h-full flex flex-col justify-start items-center mt-12">
  <%= image_tag "empty-state.svg", class: "mb-6" %>
  <div class="flex flex-col items-center max-w-1/2">
    <h4 class="text-xl font-medium">Your feed is empty!</h4>
    <p class="text-sm text-gray-500">Start following your friends to see their updates and content</p>
  </div>
</div>